*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: 
    #FD6E0A;
}
.btn-primary{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    padding: 18px 35px;
}

/* header and navigation style */
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
.nav-title{
    font-weight: 800px;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    margin: 50px;
}
.banner-description{
    color: #757575;
    font-size: 18px;
}
/* banner style */
.banner{
    display: flex;
    align-items: center;
    margin: 0 200px;

}

.banner-title{
    font-weight: 700;
    font-size: 85px;
    left: 230px;
    top: 363px;

}
.header{
    background-color: 
    #FFF8F3;
    background-image: url('../header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right, left; 
   
}
.banner-subtitle{
    color: #474747;
    font-weight: 600;
    font-size: 45px;
    margin: 5px;
}
.banner-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;

}
/*  about main section */
main{
    max-width: 1140px;
    margin: 0 auto;
}
.dev p{
    font-weight: 400;
    font-size: 18px;
    left: 230px;
    top: 499px;
}
/* about section styles */
.about {
   margin-top: 130px;
   background: #FFF8F3;
   border-radius: 20px;
   padding: 130px 150px;
   text-align: center;
}  
.section-title {
    text-align: center;
    margin-top: 130px;
    font-weight: 700;
    font-size: 35px;
}
.banner-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;

}
/* about-info-container */
.about-info-container{
    margin-top: 30px;
    color: #757575;
    display: flex;
    justify-content: space-around;
}
.info-title{
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    
    
}
.info-description{
    color: #474747;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    
}
 /* What-i-do */
 .what-i-do{
    margin-top: 130px;

 }
 .skills-container{
    display: flex;
    margin-top: 170px;
 }
 .skill{
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
 }
 .skill-title{
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
 }
 .skill-description{
    margin-top: 20px;
    color: #757575
    
 }
 /* Resume-style */
 .section-title{
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 113px;
 }
 .resume-content{
    display: flex;
    font-weight: 700;
    font-size: 30px;

 }
 .resume .title{
    color: #474747;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 10px;
 }
 .resume .sub-title{
    color: #757575;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
 }
 .resume .description{
    color: #757575;
    margin-bottom: 60px;
    font-weight: 400;
    font-size: 16px;
 }
 .resume-title{
    margin-bottom: 30px;
 }
.resume-button{
    margin-top: 50px;
    text-align: center;
}